:root {
  --primary-hue: 240;
  --secondary-hue: 120;
  --tertiary-hue: 60;
  
  --primary-color-dark-5:   hsla(var(--primary-hue),  90%, 10%, 1);
  --primary-color-dark-4:   hsla(var(--primary-hue),  90%, 20%, 1);
  --primary-color-dark-3:   hsla(var(--primary-hue),  90%, 25%, 1);
  --primary-color-dark-2:   hsla(var(--primary-hue),  70%, 30%, 1);
  --primary-color-dark-1:   hsla(var(--primary-hue),  50%, 40%, 1);
  --primary-color-normal-0: hsla(var(--primary-hue),  40%, 50%, 1);
  --primary-color-light-1:  hsla(var(--primary-hue),  30%, 75%, 1);
  --primary-color-light-2:  hsla(var(--primary-hue),  20%, 90%, 1);
  --primary-color-light-3:  hsla(var(--primary-hue),  10%, 95%, 1);
  --primary-color-light-4:  hsla(var(--primary-hue),   5%, 97%, 1);
  --primary-color-light-5:  hsla(var(--primary-hue),   1%, 99%, 1);


  --secondary-color-dark-5:   hsla(var(--secondary-hue),  90%, 10%, 1);
  --secondary-color-dark-4:   hsla(var(--secondary-hue),  90%, 20%, 1);
  --secondary-color-dark-3:   hsla(var(--secondary-hue),  90%, 25%, 1);
  --secondary-color-dark-2:   hsla(var(--secondary-hue),  70%, 30%, 1);
  --secondary-color-dark-1:   hsla(var(--secondary-hue),  50%, 40%, 1);
  --secondary-color-normal-0: hsla(var(--secondary-hue),  40%, 50%, 1);
  --secondary-color-light-1:  hsla(var(--secondary-hue),  30%, 75%, 1);
  --secondary-color-light-2:  hsla(var(--secondary-hue),  20%, 90%, 1);
  --secondary-color-light-3:  hsla(var(--secondary-hue),  10%, 95%, 1);
  --secondary-color-light-4:  hsla(var(--secondary-hue),   5%, 97%, 1);
  --secondary-color-light-5:  hsla(var(--secondary-hue),   1%, 99%, 1);



  --tertiary-color-dark-5:   hsla(var(--tertiary-hue),  90%, 10%, 1);
  --tertiary-color-dark-4:   hsla(var(--tertiary-hue),  80%, 20%, 1);
  --tertiary-color-dark-3:   hsla(var(--tertiary-hue),  75%, 25%, 1);
  --tertiary-color-dark-2:   hsla(var(--tertiary-hue),  70%, 30%, 1);
  --tertiary-color-dark-1:   hsla(var(--tertiary-hue),  50%, 40%, 1);
  --tertiary-color-normal-0: hsla(var(--tertiary-hue),  40%, 50%, 1);
  --tertiary-color-light-1:  hsla(var(--tertiary-hue),  30%, 75%, 1);
  --tertiary-color-light-2:  hsla(var(--tertiary-hue),  20%, 90%, 1);
  --tertiary-color-light-3:  hsla(var(--tertiary-hue),  10%, 95%, 1);
  --tertiary-color-light-4:  hsla(var(--tertiary-hue),   5%, 97%, 1);
  --tertiary-color-light-5:  hsla(var(--tertiary-hue),   1%, 99%, 1);
}
