.banner-two {
  display: grid;
  grid-template: 
     "banner" auto
     "main"  1fr
   / 1fr 1fr;
  gap: 1em;
  height: 100%;
}

.banner-two h2 {
  grid-column: span 2;
  object-fit: contain;
}

.banner-two figure  {
}

.banner-two figure img {
    width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.banner-two h2 {
  background: linear-gradient(to right, white 70%, transparent );
  padding:  .5em 1em ;
  clip-path: polygon(.8em 0, 100% 0, calc(100% - .8em) 75%,  0 75%);
  width: 80%;
  /* box-shadow: -4px 12px 1em black; */
}