.small-left-big-right {
  display: grid;
  grid-template: 
     "left right" 1fr
   / 1fr 4fr;
  gap: 1em;
  height: 100%;
}

.small-left-big-right h2 {
  text-align: right;
}


.left-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  height: 100%;;
}

.header-left-right {
  display: grid;
  grid-template:  auto  1fr /  1fr  1fr;
  gap: 1em;
  height: 100%;;
}


.header-left-right > h2 {
  grid-column: span 2;
}